# Use 256 color
export TERM='xterm-256color'

# Default text editor
export EDITOR='vim'

# Proxy settings here if needed
export PROXY=http://some.proxy.com:80

function proxy_on
  export http_proxy=$PROXY
  export https_proxy=$PROXY
end

function proxy_off
  unset http_proxy=$PROXY
  unset https_proxy=$PROXY
end

export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"

{% if ansible_distribution == "MacOSX" %}
alias cat="opt/homebrew/bin/bat"
eval "$(/opt/homebrew/bin/brew shellenv)"
{% elif ansible_distribution == "Ubuntu" %}
# Prevent crash by Ctrl-S Ctrl-Q when this shell is being accessed by ssh
stty -ixon

alias cat="/usr/bin/batcat"
export PATH="$PATH:/usr/local/go/bin"
{% endif %}
